@using ProjektInzynierskiBlazor.Data
@inject EquipmentService equipmentService

<div class="modal fade show" id="deleteModal" role="dialog" style="display:block">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edytuj wyposażenie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@ModalCancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="Name" class="control-label">Oznaczenie</label>
                                <input form="Name" class="form-control" @bind="@equipment.Number" />
                            </div>
                            <div class="form-group">
                                <label for="Model" class="control-label">Zawartość</label>
                                <input form="Model" class="form-control" @bind="@equipment.Elements" />
                            </div>
                            <div>ss="form-group">
                                <label for="Review" class="control-label">Przegląd</label>
                                <input form="Review" class="form-control" type="date" @bind="@equipment.Review" />
                            </div>
                            <div class="form-group">
                                <label for="Informations" class="control-label">Informacje</label>
                                <input form="Informations" class="form-control" @bind="@equipment.Informations" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="button" class="btn btn-success" @onclick="@UpdateEqiupment" value="Zapisz" />
                                <input type="button" class="btn btn-primary" @onclick="@ModalCancel" value="Anuluj" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string EditObjId { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    Data.Equipment equipment = new Data.Equipment();

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    protected async void UpdateEqiupment()
    {
        await equipmentService.UpdateEquipmentAsync(equipment);
        await ModalCancel();
    }

    protected override async Task OnInitializedAsync()
    {
        equipment = await Task.Run(() => equipmentService.GetEquipmentAsync(EditObjId));
    }
}
