@using ProjektInzynierskiBlazor.Data.Entities
@using ProjektInzynierskiBlazor.Data.Services
@inject OfficeWorkService officeWorkService

<div class="modal fade show" id="deleteModal" role="dialog" style="display:block">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Czy na pewno chcesz usunąć pracę kameralną?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@ModalCancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Od: </label>
                            <label>@string.Format("{0:yyyy-MM-dd HH:mm}", officeWork.From)</label>
                        </div>
                        <div class="form-group">
                            <label>Do: </label>
                            <label>@string.Format("{0:yyyy-MM-dd HH:mm}", officeWork.To)</label>
                        </div>
                        <div class="form-group">
                            <label>Obiekt: </label>
                            <label>@location.Name</label>
                        </div>
                        <div class="form-group">
                            <label>Zlecający: </label>
                            <label>@orderer.Name</label>
                        </div>
                        <div class="form-group">
                            <label>Firma: </label>
                            <label>@orderer.Company</label>
                        </div>
                        <div class="form-group">
                            <label>Czynność: </label>
                            <label>@officeWork.WhatToDo</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="button" class="btn btn-danger" @onclick="@ModalOk" value="Usuń" />
                                <input type="button" class="btn btn-primary" @onclick="@ModalCancel" value="Anuluj" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string DeleteObjId { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    OfficeWork officeWork = new OfficeWork();
    Location location = new Location();
    Orderer orderer = new Orderer();
    Order order = new Order();

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }

    protected override async Task OnInitializedAsync()
    {
        officeWork = await Task.Run(() => officeWorkService.GetOfficeWorkAsync(DeleteObjId));
        order = officeWork.Order;
        orderer = order.Orderer;
        location = order.Location;
    }
}
