@using ProjektInzynierskiBlazor.Data.Entities
@using ProjektInzynierskiBlazor.Data.Services
@using ProjektInzynierskiBlazor.Data;
@inject OfficeWorkService officeWorkService
@inject EmployeeService employeeService
@inject OrderService orderService

<div class="modal fade show" id="editModal" role="dialog" tabindex="0" aria-labelledby="editModalTitle" aria-hidden="true" style="overflow:auto; display:block">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalTitle">Edytuj pracę kameralną</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@ModalCancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Termin zlecenia</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <p>
                                            <th scope="row"><label for="OrderFrom" class="control-label">Od</label></th>
                                            <th scope="row"><input form="OrderTo" class="form-control" type="datetime" format-value="{0:yyyy-MM-dd HH:mm}" @bind="@officeWork.From" /></th>
                                            </p>
                                            <p>
                                            <th scope="row"><label for="OrderTo" class="control-label">Do</label></th>
                                            <th scope="row"><input form="OrderTo" class="form-control" type="datetime" format-value="{0:yyyy-MM-dd HH:mm}" @bind="@officeWork.To" /></th>
                                            </p>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <th scope="col">Określ status pracy kameralnej</th>
                                <div class="form-control-wrapper">
                                    <select class="form-control=label" @bind="@officeWork.Status">
                                        <option value="">@officeWork.Status.ToString()</option>
                                        @foreach (var item in Enum.GetValues(typeof(Statuses)))
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <th scope="col">Wybierz zlecenie</th>
                                <div class="form-control-wrapper">
                                    <select class="form-control=label" @onchange="OrderChangeHandler">
                                        <option value="">-Brak-</option>
                                        @foreach (var item in AllOrders)
                                        {
                                            <option value="@item.Id">@item.Location.Name, @item.Orderer.Name, @string.Format("{0:yyyy-MM-dd HH:mm}", item.OrderFrom), @string.Format("{0:yyyy-MM-dd HH:mm}", item.OrderTo), @item.WhatToDo</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <th scope="col">Wybierz pracownika</th>
                                <div class="form-control-wrapper">
                                    <select class="form-control=label" @onchange="EmployeeChangeHandler">
                                        <option value="">-Brak-</option>
                                        @foreach (var item in AllEmployees)
                                        {
                                            <option value="@item.Id">@item.FirstName, @item.LastName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <th scope="col">Praca do wykonania</th>
                                <input form="WhatToDo" class="form-control" size="50" @bind="@officeWork.WhatToDo" />
                            </div>
                            <div class="form-group">
                                <th scope="col">Informacje</th>
                                <input form="Informations" class="form-control" size="50" @bind="@officeWork.Informations" />
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-success" @onclick="@UpdateOfficeWork" value="Zapisz" />
                                        <input type="button" class="btn btn-primary" @onclick="@ModalCancel" value="Anuluj" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string EditObjId { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private List<OfficeWork> AllOfficeWorks = new List<OfficeWork>();
    private List<Order> AllOrders = new List<Order>();
    private List<Employee> AllEmployees = new List<Employee>();

    OfficeWork officeWork = new OfficeWork();
    Order _order = new Order();
    Employee _employee = new Employee();

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    protected async void UpdateOfficeWork()
    {
        await officeWorkService.UpdateOfficeWorkAsync(officeWork);
        await ModalCancel();
    }

    protected override async Task OnInitializedAsync()
    {
        officeWork = await Task.Run(() => officeWorkService.GetOfficeWorkAsync(EditObjId));
        AllOrders = await Task.Run(() => orderService.GetAllOrdersAsync());
        AllEmployees = await Task.Run(() => employeeService.GetAllEmployeesAsync());

        _order = officeWork.Order;
        _employee = officeWork.Employee;
    }

    private async Task OrderChangeHandler(ChangeEventArgs args)
    {
        _order = await Task.Run(() => orderService.GetOrderAsync(args.Value.ToString()));
        officeWork.Order = _order;
        StateHasChanged();
    }

    private async Task EmployeeChangeHandler(ChangeEventArgs args)
    {
        _employee = await Task.Run(() => employeeService.GetEmployeeAsync(args.Value.ToString()));
        officeWork.Employee = _employee;
        StateHasChanged();
    }
}
