@using ProjektInzynierskiBlazor.Data.Entities
@using ProjektInzynierskiBlazor.Data.Services
@inject DepartmentService departmentService

<div class="modal fade show" id="deleteModal" role="dialog" style="display:block">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Czy na pewno chcesz usunąć oddział?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@ModalCancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Nazwa</label>
                            <label>@department.Name</label>
                        </div>
                        <div class="form-group">
                            <label>Adres</label>
                            <label>@department.Address</label>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <label>@department.Email</label>
                        </div>
                        <div class="form-group">
                            <label>Numer telefonu</label>
                            <label>@department.PhoneNumer</label>
                        </div>
                        <div class="form-group">
                            <label>Informacje</label>
                            <label>@department.Informations</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="button" class="btn btn-danger" @onclick="@ModalOk" value="Usuń" />
                                <input type="button" class="btn btn-primary" @onclick="@ModalCancel" value="Anuluj" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string DeleteObjId { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    Department department = new Department();

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }

    protected override async Task OnInitializedAsync()
    {
        department = await Task.Run(() => departmentService.GetDepartmentAsync(DeleteObjId));
    }
}
